.mt-n5 {
    margin-top: -30rem !important;
}

.dark-color{
    background-color: #141414;
}

.half-dark{
    background-color: #14141450;
}

.mt-n10{
    margin-top: -10rem !important;
}

.mt-n15{
    margin-top: -15rem !important;
}


.dark-CC{
    background-color: #141414CC !important;
}
.dark-80{
    background-color: #14141480 !important;
}